:host{
    input{
        all:unset;
        padding: 2em 1em;
        width: 2em;
        text-align: center;
        font-size: 1.3em;
    }
    button{
        background-color: black;
        color: orange;
        font-size: 1.2em;
        padding: 0.5em 1em;
        cursor: pointer;
    }
}