<form>
    <input type="text" name="name" [(ngModel)]="product.name" #name="ngModel" placeholder="Introduce el nombre" required minlength="5">
    {{name.errors | json}}
    <span *ngIf="name.errors?.required" class="error_validation">El campo "nombre" es requerido</span>
    <span *ngIf="name.errors?.minlength" class="error_validation">El campo "nombre" tiene que tener al menos 5 caracteres</span>
    <input type="number" name="price" placeholder="Introduce el precio">
    <button type="submit">Enviar</button>
</form>
<form #productoForm="ngForm" class="prettyForm" (ngSubmit)="onSubmit(productoForm)">
    <input type="text" name="name" ngModel #name="ngModel">
    <input type="text" name="password" ngModel #password="ngModel">
    <input type="text" name="email" ngModel #email="ngModel">
    <button type="submit">Enviar</button>
</form>
{{productoForm.value | json}}
