<app-kata3></app-kata3>
<p>{{message | uppercase}}</p>
<input #valorMessage type="message" (keyup)="handleMessage($event)" placeholder="cambia el valor de message">
<input [(ngModel)]="message">
<img src="{{imageUrl}}" alt="Image">
<button (click)="changeImageKoala()">Cambiar Imagen Koala</button>
<button on-click="changeImageMapache()">Cambiar Imagen Mapache</button>
<button (click)="alertMessage(valorMessage.value)">Muestrame valor del primer input</button>
<app-counter></app-counter>
<ul class="colors">
    <li class="color" *ngFor="let color of colors, let i = index">{{i}} - {{color}}</li>
</ul>
<app-heroes></app-heroes>
<input type="text" appHighlight>
<app-product-form></app-product-form>
